In [1]:
import pandas as pd
april=pd.read_csv(r"C:\Users\Bryant Xia\Desktop\lead_change_analysis\may_games.csv")
april.tail(10)

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Arena,Notes
28,"Thu, May 19, 2022",8:30p,Boston Celtics,127,Miami Heat,102,Box Score,NaN,"20,100",FTX Arena,NaN
29,"Fri, May 20, 2022",9:00p,Dallas Mavericks,117,Golden State Warriors,126,Box Score,NaN,"18,064",Chase Center,NaN
30,"Sat, May 21, 2022",8:30p,Miami Heat,109,Boston Celtics,103,Box Score,NaN,"19,156",TD Garden,NaN
31,"Sun, May 22, 2022",9:00p,Golden State Warriors,109,Dallas Mavericks,100,Box Score,NaN,"20,813",American Airlines Center,NaN
32,"Mon, May 23, 2022",8:30p,Miami Heat,82,Boston Celtics,102,Box Score,NaN,"19,156",TD Garden,NaN
33,"Tue, May 24, 2022",9:00p,Golden State Warriors,109,Dallas Mavericks,119,Box Score,NaN,"20,810",American Airlines Center,NaN
34,"Wed, May 25, 2022",8:30p,Boston Celtics,93,Miami Heat,80,Box Score,NaN,"19,819",FTX Arena,NaN
35,"Thu, May 26, 2022",9:00p,Dallas Mavericks,110,Golden State Warriors,120,Box Score,NaN,"18,064",Chase Center,NaN
36,"Fri, May 27, 2022",8:30p,Miami Heat,111,Boston Celtics,103,Box Score,NaN,"19,156",TD Garden,NaN
37,"Sun, May 29, 2022",8:30p,Boston Celtics,100,Miami Heat,96,Box Score,NaN,"20,200",FTX Arena,NaN

In [2]:
ct=0
for dt in april['Date']:
    april['Date'][ct]=dt[8:len(dt)]
    split_string = april['Date'][ct].split(",", 1)
    april['Date'][ct]=int(split_string[0])
    ct+=1

C:\Users\BRYANT~1\AppData\Local\Temp/ipykernel_1176/2753235972.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  april['Date'][ct]=dt[8:len(dt)]
C:\Users\BRYANT~1\AppData\Local\Temp/ipykernel_1176/2753235972.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  april['Date'][ct]=int(split_string[0])

In [3]:
# april=april[april['Date']>=16].reset_index()
# april.head()

,index,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Arena,Notes
0,86,16,1:00p,Utah Jazz,99,Dallas Mavericks,93,Box Score,NaN,"20,013",American Airlines Center,NaN
1,87,16,3:30p,Minnesota Timberwolves,130,Memphis Grizzlies,117,Box Score,NaN,"17,794",FedEx Forum,NaN
2,88,16,6:00p,Toronto Raptors,111,Philadelphia 76ers,131,Box Score,NaN,"20,610",Wells Fargo Center,NaN
3,89,16,8:30p,Denver Nuggets,107,Golden State Warriors,123,Box Score,NaN,"18,064",Chase Center,NaN
4,90,17,1:00p,Atlanta Hawks,91,Miami Heat,115,Box Score,NaN,"19,514",FTX Arena,NaN

In [24]:
april.shape

(43, 15)

In [5]:
abbrev=pd.read_csv(r"C:\Users\Bryant Xia\Desktop\lead_change_analysis\team_abbrev.csv")
dict={}
for i in range (0, 30):
    dict[abbrev['Team'][i]]=abbrev['Abbrev'][i]
april['home_abb']=""
april['away_abb']=""
for i in range (0,len(april)):
    april['home_abb'][i]=dict[april['Home/Neutral'][i]]
    april['away_abb'][i]=dict[april['Visitor/Neutral'][i]]

C:\Users\BRYANT~1\AppData\Local\Temp/ipykernel_1176/842986477.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  april['home_abb'][i]=dict[april['Home/Neutral'][i]]
C:\Users\BRYANT~1\AppData\Local\Temp/ipykernel_1176/842986477.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  april['away_abb'][i]=dict[april['Visitor/Neutral'][i]]

In [3]:
april.iloc[24]

Date                            15
Start (ET)                   3:30p
Visitor/Neutral    Milwaukee Bucks
PTS                             81
Home/Neutral        Boston Celtics
PTS.1                          109
Unnamed: 6               Box Score
Unnamed: 7                     NaN
Attend.                     19,156
Arena                    TD Garden
Notes                          NaN
Name: 24, dtype: object

In [9]:
april['url']=""
for i in range (0, len(april)):
    if (april['Date'][i]>9):
        april['url'][i]="https://www.basketball-reference.com/boxscores/shot-chart/202205"+str(april['Date'][i])+"0"+april['home_abb'][i]+".html"
    else:
        april['url'][i]="https://www.basketball-reference.com/boxscores/shot-chart/2022050"+str(april['Date'][i])+"0"+april['home_abb'][i]+".html"

C:\Users\BRYANT~1\AppData\Local\Temp/ipykernel_1176/2722118649.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  april['url'][i]="https://www.basketball-reference.com/boxscores/shot-chart/2022050"+str(april['Date'][i])+"0"+april['home_abb'][i]+".html"
C:\Users\BRYANT~1\AppData\Local\Temp/ipykernel_1176/2722118649.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  april['url'][i]="https://www.basketball-reference.com/boxscores/shot-chart/202205"+str(april['Date'][i])+"0"+april['home_abb'][i]+".html"

In [11]:
print (april['url'][3])

https://www.basketball-reference.com/boxscores/shot-chart/202205020PHO.html

In [36]:
april.head()

,index,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Arena,Notes,home_abb,away_abb,url
0,86,16,1:00p,Utah Jazz,99,Dallas Mavericks,93,Box Score,NaN,"20,013",American Airlines Center,NaN,DAL,UTA,https://www.basketball-reference.com/boxscores...
1,87,16,3:30p,Minnesota Timberwolves,130,Memphis Grizzlies,117,Box Score,NaN,"17,794",FedEx Forum,NaN,MEM,MIN,https://www.basketball-reference.com/boxscores...
2,88,16,6:00p,Toronto Raptors,111,Philadelphia 76ers,131,Box Score,NaN,"20,610",Wells Fargo Center,NaN,PHI,TOR,https://www.basketball-reference.com/boxscores...
3,89,16,8:30p,Denver Nuggets,107,Golden State Warriors,123,Box Score,NaN,"18,064",Chase Center,NaN,GSW,DEN,https://www.basketball-reference.com/boxscores...
4,90,17,1:00p,Atlanta Hawks,91,Miami Heat,115,Box Score,NaN,"19,514",FTX Arena,NaN,MIA,ATL,https://www.basketball-reference.com/boxscores...

In [12]:
april.to_csv(r"C:\Users\Bryant Xia\Desktop\lead_change_analysis\may_processed.csv",index=False)

In [79]:
game=pd.read_csv(r"C:\Users\Bryant Xia\Desktop\lead_change_analysis\april_games_pbp\g20220416_UTA_DAL.csv")
game.head(20)

,time,away_des,away_change,score,home_change,home_des
0,11:41.0,Shooting foul by K. Huerter (drawn by M. Strus),,0-0,,
1,11:41.0,M. Strus misses free throw 1 of 3,,0-0,,
2,11:41.0,Offensive rebound by Team,,0-0,,
3,11:41.0,M. Strus makes free throw 2 of 3,+1,1-0,,
4,11:41.0,M. Strus misses free throw 3 of 3,,1-0,,
5,11:38.0,,,1-0,,Defensive rebound by J. Collins
6,11:19.0,,,1-0,,J. Collins misses 2-pt jump shot from 6 ft
7,11:16.0,Defensive rebound by J. Butler,,1-0,,
8,11:10.0,Turnover by B. Adebayo (out of bounds lost ball),,1-0,,
9,10:58.0,,,1-2,+2,D. Hunter makes 2-pt jump shot from 13 ft
10,10:37.0,B. Adebayo makes 2-pt dunk at rim (assist by J...,+2,3-2,,
11,10:22.0,,,3-4,+2,D. Gallinari makes 2-pt layup from 1 ft
12,10:03.0,J. Butler makes 2-pt jump shot from 12 ft,+2,5-4,,
13,9:55.0,,,5-4,,T. Young misses 3-pt jump shot from 28 ft
14,9:53.0,Defensive rebound by B. Adebayo,,5-4,,
15,9:47.0,J. Butler makes 2-pt layup from 1 ft,+2,7-4,,
16,9:47.0,Shooting foul by D. Hunter (drawn by J. Butler),,7-4,,
17,9:47.0,Miami full timeout,,7-4,,
18,9:47.0,J. Butler makes free throw 1 of 1,+1,8-4,,
19,9:26.0,,,8-6,+2,D. Gallinari makes 2-pt jump shot from 22 ft (...